body{
    background-color: rgb(42, 119, 227);
}

.ButtonPierre{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgb(228, 80, 12);
    margin: 1%;
    font-size: 150%;
}

.ButtonFeuille{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(255, 10, 10, 0.932);
    margin: 2%;
    margin-right: 5% ;
    font-size: 150%;
}

.ButtonCiseaux{

    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(255, 25, 236, 0.89);
    margin: 2%;
    margin-left: 5% ;
    font-size: 150%;
}

.DivPierre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 5%;
}

.DivFeuilleCiseaux{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 200%;
    background-color: rgb(39, 215, 247);
    border-radius:50px;
    width:50%;
    margin:auto;
}

.changement{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 200%;
    background-color: rgb(255, 52, 52);
    border-radius:50px;
    margin-top: 3%;
}

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border-radius:50px;
    margin-top: 20%;
}

.joue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 200%;
    background-color: rgb(39, 215, 247);
    border-radius:50px;
    width:50%;
    margin:auto;
}

.espace{
    margin: 2%;
}
