body{
    background-color: rgb(42, 119, 227);
}
.ButtonPierre{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgb(228, 80, 12);
    margin: 4%;
    font-size: 150%;
    border-color: blueviolet;
}
.ButtonFeuille{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(248, 22, 22, 0.767);
    margin: 2%;
    margin-right: 5% ;
    font-size: 150%;
}
.ButtonCiseaux{

    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgb(255, 0, 85);
    margin: 2%;
    margin-left: 5% ;
    font-size: 150%;
}
.DivPierre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 5%;
}
.DivFeuilleCiseaux{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 200%;
    background-color: burlywood;
    border-radius:50px;
    margin-top: 3%;
}

.changement{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 200%;
    background-color: burlywood;
    border-radius:50px;
    margin-top: 3%;
}


.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    border-radius:50px;
    margin-top: 20%;
}


